*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #CBCBCB;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl;
    text-align: center;
    margin-top: 10px;
}

.input_box{
    width: 30%;
    height: 40vh;
    margin: auto;
    padding: 25px 10px 0px 10px;
    background-color: #E6E6E6;
    border-radius: 4px;
    position: relative;
    top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl;
}

.box{
    width: 95%;
    height: 35vh;
    margin: auto;
}

.file_box{
    width: 50%;
    height: 15vh;
    position: relative;
    top: 15px;
    padding-left: 10px;
}

input[type=text]{
    width: 50%;
    height: 3vh;
    margin-top: 20px;
    margin-left: 15px;
    border: none;
    background-color: #CBCBCB70;
}

input[type=file]{
    width: 80%;
    height: 3vh;
    background-color: #F3F3F3;
    padding: 5px;
    color: #646464;
    border-radius: 4px;
}

input[type=submit]{
    width: 50%;
    height: 4vh;
    background-color: #CBCBCB;
    border: none;
    font-size: 15px;
    padding: 5px 0px 10px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.echo_align{
    text-align: center;
    position: relative;
    margin-left: 20%;
    top: 90px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_align{
    width: 20%;
    height: 30vh;
    margin: 40px auto 0;
    margin-left: 35%;
    text-align: center;
    position: relative;
}

img{
    max-width: 200px;
    max-width: 200px;
    border-radius: 4px;
}